.comment-view {
    background-color: var(--bg-primary);
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 1rem;
}

.comment {
    background-color: var(--bg-secondary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment * {
    background-color: var(--bg-secondary);
}

.comment .footer {
    display: flex;
    flex-direction: column;
}

.comment .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btns {
    display: flex;
    gap: 0.5rem;
}

.header-btns > i {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.display-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.comment-view-heading {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.comment-view-heading > button {
    cursor: pointer;
    font-size: 2rem;
    padding: 0.3rem 1rem;
    background-color: var(--read-more);
    color: #fff;
    border: var(--border);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.comment-view > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.comment-view > form textarea {
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    border: 1px solid var(--border);
    padding: 1rem;
    height: 10rem;
    color: var(--color);
}

.comment-view > form button {
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: var(--read-more);
    border-radius: 10px;
    cursor: pointer;
}

.form-box {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.form-box > form {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.form-box > form > textarea {
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    color: var(--color);
    height: 8rem;
    border: 1px solid var(--border);
}

.form-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-btns button {
    display: flex;
    font-size: 1.5rem;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.form-btns button:nth-child(1),
.form-btns > button:nth-child(1) > i {
    background-color: var(--edit);
}

.form-btns button:nth-child(2),
.form-btns > button:nth-child(2) > i {
    background-color: var(--delete);
}

@media (max-width: 425px) {
    .form-box > form {
        flex-direction: column;
    }
}
