.post-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-view {
    background-color: var(--bg-secondary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
}
.post-view * {
    background-color: var(--bg-secondary);
}

.post-view > h2 {
    font-size: 2rem;
    padding: 1rem 0 0 1rem;
}
.post-view > p {
    white-space: pre-line;
    font-size: 1.1rem;
    padding: 1rem 0;
}

.back-btn-holder {
    margin-bottom: 1rem;
}

.back-btn {
    font-size: 1.5rem;
    background-color: var(--read-more);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-btn > i {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--read-more);
    transition: all 0.3s ease;
}

.back-btn:hover,
.back-btn > i:hover {
    background-color: var(--read-more-hover);
}
