.home-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

@media (max-width: 640px) {
    .posts {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

.post {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1rem;
    min-height: 250px;
}

.post * {
    background-color: var(--bg-secondary);
}

.blog-title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.blog-content {
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
}

.post-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
}

.footer-btns {
    display: flex;
    justify-content: space-between;
}

.footer-btns > button {
    border: none;
    border-radius: 8px;
    background-color: var(--read-more);
    color: #fff;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.footer-btns > button:hover {
    background-color: var(--read-more-hover);
}

.edit-btns {
    display: flex;
    gap: 0.5rem;
}

.edit-btns .bx {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.bx-edit {
    color: #fff;
    background-color: var(--edit) !important;
    transition: all 0.3s ease;
}
.bx-edit:hover {
    background-color: var(--edit-hover) !important;
}

.bx-trash {
    color: #fff;
    background-color: var(--delete) !important;
    transition: all 0.3s ease;
}
.bx-trash:hover {
    background-color: var(--delete-hover) !important;
}

/* Add Button */
.add-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    background: none;
}

.add-btn > button {
    cursor: pointer;
    font-size: 2rem;
    padding: 0.3rem 1rem;
    background-color: var(--read-more);
    color: #fff;
    border: var(--border);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes {
    display: flex;
    align-items: center;
}

.likes > span {
    padding: 0.5rem;
}

.like-button {
    font-size: 1.4rem;
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    background: none;
}

.like-button > i {
    color: var(--delete);
}
