.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--read-more);
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    letter-spacing: 1px;
}
