@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");

:root {
    --bg-primary: #ededed;
    --bg-secondary: #fff;
    --read-more: #0066ff;
    --read-more-hover: #2a4fe3;
    --edit: #0cce6b;
    --edit-hover: #11c166;
    --delete: #ff4242;
    --delete-hover: #dc4a4a;
    --border: #000;
    --color: #000;
}

.dark {
    --bg-primary: #161b22;
    --bg-secondary: #0d1117;
    --read-more: #0066ff;
    --read-more-hover: #2a4fe3;
    --edit: #0cce6b;
    --edit-hover: #11c166;
    --delete: #ff4242;
    --delete-hover: #dc4a4a;
    --border: #fff;
    --color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "sans-serif";
    background-color: var(--bg-primary);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--color);
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    height: 80px;
    background-color: var(--bg-secondary);
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
}

.logo > h1 {
    font-size: 2rem;
    text-align: center;
    background-color: var(--bg-secondary);
}

.nav-btns {
    background-color: var(--bg-secondary);
    display: flex;
    gap: 1rem;
}

.nav-btns button {
    background-color: var(--read-more);
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-btns button > i {
    background: none;
}

.nav-btns button:hover {
    background-color: var(--read-more-hover);
}

@media (max-width: 425px) {
    .logo > h1 {
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }
}

/* Register Page */

.register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--bg-secondary);
}

.register-box > h1 {
    background-color: var(--bg-secondary);
    font-size: 2rem;
}

.register-form {
    background-color: var(--bg-secondary);
    padding: 1rem 1rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.register-form input {
    border: 1px solid var(--border);
    color: var(--color);
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--bg-secondary);
    width: 100%;
}

.register-form > button {
    border: none;
    background-color: var(--read-more);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    transition: all 0.3s ease;
}

.register-form > button:hover {
    background-color: var(--read-more-hover);
}

/* Login Page */
.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding: 1rem;
}

.login-box > h1 {
    background-color: var(--bg-secondary);
    font-size: 2rem;
}

.login-form {
    background-color: var(--bg-secondary);
    padding: 1rem 1rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border);
    color: var(--color);
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.login-form > button {
    border: none;
    background-color: var(--read-more);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    transition: all 0.3s ease;
}

.login-form > button:hover {
    background-color: var(--read-more-hover);
}

@media (max-width: 425px) {
    .login-box,
    .register-box {
        padding: 1rem 0;
    }
}

/* Home Page */
.home-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    min-height: 250px;
}

.post * {
    background-color: var(--bg-secondary);
}

.blog-title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.blog-content {
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
}

.post-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
}

.footer-btns {
    display: flex;
    justify-content: space-between;
}

.footer-btns > button {
    border: none;
    border-radius: 8px;
    background-color: var(--read-more);
    color: #fff;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.footer-btns > button:hover {
    background-color: var(--read-more-hover);
}

.edit-btns {
    display: flex;
    gap: 0.5rem;
}

.edit-btns .bx {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.bx-edit {
    color: #fff;
    background-color: var(--edit) !important;
    transition: all 0.3s ease;
}
.bx-edit:hover {
    background-color: var(--edit-hover) !important;
}

.bx-trash {
    color: #fff;
    background-color: var(--delete) !important;
    transition: all 0.3s ease;
}
.bx-trash:hover {
    background-color: var(--delete-hover) !important;
}

/* Add Button */
.add-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    background: none;
}

.add-btn > button {
    cursor: pointer;
    font-size: 2rem;
    padding: 0.4rem 1.2rem;
    background-color: var(--read-more);
    color: #fff;
    border: var(--border);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/* Notification Component */
.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: min(90vw, 500px);
    background-color: var(--bg-secondary);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 1rem;
}
.notification * {
    background-color: var(--bg-secondary);
}

.notification-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
}
.notification-btn > button {
    font-size: 1.4rem;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.notification.success > .notification-btn > button {
    background-color: var(--edit);
}
.notification.success > .notification-btn > button:hover {
    background-color: var(--edit-hover);
}
.notification.error > .notification-btn > button {
    background-color: var(--delete);
}
.notification.error > .notification-btn > button:hover {
    background-color: var(--delete-hover);
}

/* PostDetails Page */
.post-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-view {
    background-color: var(--bg-secondary);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
}
.post-view * {
    background-color: var(--bg-secondary);
}

.post-view > h2 {
    font-size: 2rem;
    padding: 1rem 0 0 1rem;
}
.post-view > p {
    white-space: pre-line;
    font-size: 1.1rem;
    padding: 1rem 0;
}

.back-btn-holder {
    margin-bottom: 1rem;
}

.back-btn {
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: var(--read-more);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-btn > svg {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: var(--read-more);
}

.back-btn:hover {
    background-color: var(--read-more-hover);
}

/* CreatePost Page */
.create-post-page {
    align-items: flex-end;
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.create-view {
    background-color: var(--bg-secondary);
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}

.create-form > *,
.create-view > * {
    background-color: var(--bg-secondary);
}

.create-form-heading {
    text-align: center;
}

.create-form {
    padding: 1rem 1rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.create-form > input,
.create-form > textarea {
    border: 1px solid var(--border);
    color: var(--color);
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.create-form > textarea {
    resize: none;
    height: 15rem;
}

.create-form > button {
    border: none;
    background-color: var(--read-more);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    transition: all 0.3s ease;
}

.create-form > button:hover {
    background-color: var(--read-more-hover);
}

/* EditPost Page */
.edit-post-page {
    align-items: flex-end;
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.edit-view {
    background-color: var(--bg-secondary);
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}

.edit-view > *,
.edit-form > * {
    background-color: var(--bg-secondary);
}

.edit-form-heading {
    text-align: center;
}

.edit-form {
    padding: 1rem 1rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.edit-form > input,
.edit-form > textarea {
    border: 1px solid var(--border);
    color: var(--color);
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.edit-form > textarea {
    resize: none;
    height: 15rem;
}

.edit-form > button {
    border: none;
    background-color: var(--read-more);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    transition: all 0.3s ease;
}

.edit-form > button:hover {
    background-color: var(--read-more-hover);
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes {
    display: flex;
    align-items: center;
}

.likes > span {
    padding: 0.5rem;
}

.like-button {
    font-size: 1.4rem;
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    background: none;
}

.like-button > i {
    color: var(--delete);
}

/* Comments Section */
.comment-view {
    background-color: var(--bg-primary);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}

.comment {
    background-color: var(--bg-secondary);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment * {
    background-color: var(--bg-secondary);
}

.comment .footer {
    display: flex;
    flex-direction: column;
}

.comment .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-btns {
    display: flex;
    gap: 0.5rem;
}

.header-btns > i {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.display-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.comment-view-heading {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.comment-view-heading > button {
    cursor: pointer;
    font-size: 2rem;
    padding: 0.1rem 0.9rem;
    background-color: var(--read-more);
    color: #fff;
    border: var(--border);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.comment-view > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.comment-view > form textarea {
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    border: 1px solid var(--border);
    padding: 1rem;
    height: 10rem;
    color: var(--color);
}

.comment-view > form button {
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: var(--read-more);
    border-radius: 10px;
    cursor: pointer;
}

.form-box {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.form-box > form {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.form-box > form > textarea {
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    color: var(--color);
    height: 8rem;
    border: 1px solid var(--border);
}

.form-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-btns button {
    display: flex;
    font-size: 1.5rem;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.form-btns button:nth-child(1),
.form-btns > button:nth-child(1) > i {
    background-color: var(--edit);
}

.form-btns button:nth-child(2),
.form-btns > button:nth-child(2) > i {
    background-color: var(--delete);
}

@media (max-width: 425px) {
    .form-box > form {
        flex-direction: column;
    }
}
