@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    --bg-primary: #f8fafc;
    --bg-secondary: #fff;
    --read-more: #3b82f6;
    --read-more-hover: #2563eb;
    --edit: #0cce6b;
    --edit-hover: #11c166;
    --delete: #ff4242;
    --delete-hover: #dc4a4a;
    --border: #000;
    --color: #334155;
}

.dark {
    --bg-primary: #0f172a;
    --bg-secondary: #1e293b;
    --read-more: #0066ff;
    --read-more-hover: #2a4fe3;
    --edit: #0cce6b;
    --edit-hover: #11c166;
    --delete: #ff4242;
    --delete-hover: #dc4a4a;
    --border: #fff;
    --color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", "sans-serif";
    letter-spacing: 0.5px;
    background-color: var(--bg-primary);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--color);
}

.icon-btn {
    border: none;
}
